<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div id="app">
    <!--<p v-if="xx == 'A'">pppp</p>-->
    <!--<h1 v-else-if="xx == 'B'">hhhh</h1>-->
    <!--<span v-else>spanspan</span>-->
    <!--<div v-if="msg">ddd</div>-->
    <!--<div v-else>fff</div>-->
    <!--<template v-if="msg">-->
        <!--<p>ppppp</p>-->
        <!--<h1>hhhhh</h1>-->
    <!--</template>-->
    <div v-show="msg">
        <p>2225</p>
        <h1>555555</h1>
    </div>
</div>
<script src="vue.js"></script>
<script>
    var vm = new Vue({
        el:'#app',
        data:{
            msg:false,
            xx:'A'
        }
    })
</script>
</body>
</html>